name: Robot Pengambil Data Cuaca

on:
  schedule:
    # Jalan setiap jam menit ke-0 (Waktu Server GitHub itu UTC)
    # Jadi kalau jam 7 pagi WIB, di sini jam 00:00 UTC. Aman, script kita handle konversi jamnya.
    - cron: '0 * * * *' 
  workflow_dispatch: # Supaya bisa ditest run manual (tombol klik)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: |
          pip install -r requirements.txt

      - name: Jalankan Script
        env:
          # Ini menyambungkan Secrets GitHub ke Script Python
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
        run: python main.py
